header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) top/cover;
  color: $white;

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 15vh;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }

    .logo {
      @include center;
      font-family: $font1;
      font-size: 2rem;
    }

    ul {
      display: flex;
      text-transform: uppercase;
      align-items: center;
      justify-content: space-around;
      font-family: $font3;
      font-size: 0.7rem;

      @media screen and (max-width: 800px) {
        display: none;
      }

      li {
        padding-bottom: 5px;
        cursor: pointer;
      }

      li:hover {
        transform: scale(1.3);
        font-weight: 600;
        transition: 0.15s;
        border-bottom: solid 1px $white;
      }
    }

    .nav-icons {
      @include center;

      i {
        margin-right: 20px;
        cursor: pointer;
        transition: 0.15s;
      }

      i:hover {
        transform: scale(1.5);
      }
    }
  }
  .header-text {
    height: 85vh;
    @include center;
    text-align: center;

    div {
      margin-top: 330px;
      height: 100%;

      h2 {
        font-family: $font1;
        color: $orange;
        font-size: 3.5rem;
        font-weight: 100;
        line-height: 5px;
      }

      h1 {
        font-family: $font2;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: 7px;
      }

      img {
        width: 30px;
        height: 30px;
        margin: 30px 0 40px 0;
      }

      h6 {
        text-transform: uppercase;
        font-family: $font3;
        letter-spacing: 6px;
        font-weight: 100;
        font-size: 0.7rem;

        @media screen and (max-width: 800px) {
          font-size: 1rem;
        }
      }
    }
  }
}
