.section2 {
  color: $white;
  position: relative;

  .section2-header {
    @include center;
    flex-direction: column;
    padding: 60px 0 400px 0;
    background: $black;

    h2 {
      font-family: $font1;
      color: $orange;
      font-size: 2rem;
      font-weight: 400;
    }

    img {
      padding: 30px 0;
    }

    .section2-nav {
      width: 60%;
      max-width: 1000px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
          font-family: $font3;
          font-size: 0.9rem;
          border-bottom: solid 1px $white;
          padding-bottom: 10px;
          cursor: pointer;

          &:hover {
            transform: scale(1.3);
            transition: 0.2s;
          }

          @media screen and (max-width: 450px) {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  .section2-container {
    width: 60%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4 1fr);
    border-top: 4px solid $orange;
    background: $white;
    padding-bottom: 15px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr;
    }

    .section2-container-items {
      width: 90%;
      height: 150px;
      color: $black;
      border-bottom: 1px dashed $grey;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 25% 60% 15%;
      align-items: center;
      justify-items: start;

      @media screen and (max-width: 650px) {
        grid-template-columns: 15% 70% 15%;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 50px;

        @media screen and (max-width: 650px) {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
      }

      .s2ci-item {
        font-family: $font3;

        h3 {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 900;
          line-height: 20px;
        }

        @media screen and (max-width: 650px) {
          font-size: 0.7rem;
          font-weight: normal;
          padding-left: 25px;
        }
      }

      .s2ci-price {
        color: $orange;
        font-family: $font2;
      }
    }
  }
  .s2-after {
    width: 100%;
    height: 620px;
    position: absolute;
    content: "";
    background: url(../img/bg-menu-01.jpg) center/cover;
    z-index: 1;
    top: 350px;
    left: 0;

    @media screen and (max-width: 1300px) {
      top: 900px;
      height: 700px;
    }
  }
}
