.section5 {
  background: $black;
  position: relative;
  height: 1000px;
  z-index: 1;

  .section5-container {
    padding-top: 150px;
    width: 80%;
    margin: 0 auto;

    .section5-avis {
      background: $white;
      position: relative;
      padding: 0 100px;
      width: 80%;
      margin: 0 auto;
      .avis-img {
        position: absolute;
        background: url(../img/avatar-02.jpg) center/cover;
        height: 80px;
        width: 80px;
        border-radius: 50px;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
      }
      p {
        text-align: center;
        font-family: $font3;
        padding-top: 100px;
        font-size: 1.3rem;
        line-height: 35px;
        position: relative;

        .fa-solid {
          font-size: 1rem;
          position: absolute;
        }

        .fa-quote-left {
          top: 100px;
          left: -20px;
        }

        .fa-quote-right {
          right: 135px;
        }
      }

      h2 {
        text-align: center;
        padding: 50px 0 0 0;
        font-family: $font3;
        font-weight: 400;
        font-size: 2rem;
      }

      h3 {
        text-align: center;
        padding: 20px 0 80px;
        color: $orange;
        font-family: $font3;
        font-weight: 400;
      }
    }
  }
  .section5-after {
    position: absolute;
    content: "";
    background: url(../img/gmap.jpg);
    background-position: 50% 50%;
    width: 100%;
    height: 450px;
    z-index: -1;
    top: 400px;
  }

  .section5-contact {
    background: url(../img/bg-footer.jpg) center/cover;
    @include center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    color: $white;
    height: 350px;
    top: 850px;

    .contact-left {
      width: 50%;
      padding-left: 340px;

      h2 {
        font-family: $font1;
        color: $orange;
        font-size: 3rem;
        font-weight: 400;
      }

      p {
        font-family: $font3;
        letter-spacing: 2px;
        font-weight: 100;
        line-height: 40px;
        font-size: 1.1rem;
        padding-right: 50px;
      }
    }

    .contact-right {
      width: 50%;
      padding-right: 340px;
      padding-left: 50px;

      .newsletter {
        text-transform: uppercase;
        font-family: $font3;
        font-weight: 400;
        h3 {
          line-height: 50px;
        }
        input {
          border: 0.1mm solid rgba(198, 152, 68, 0.2);
          background: $black;
          padding: 10px;
          font-size: 1rem;
          width: 50%;
          margin-bottom: 50px;
          color: $grey2;

          &:focus {
            outline: none;
          }
        }
      }

      .follow {
        text-transform: uppercase;
        font-family: $font3;
        display: flex;

        ul {
          display: flex;
          width: 40%;
          justify-content: space-around;
          padding: 0 10px;

          i:hover {
            transform: scale(1.5);
            transition: 0.15s;
          }
          i {
            color: $grey2;
            cursor: pointer;
          }
        }
      }
    }
  }
}
