.section3 {
  padding-top: 500px;
  background: $black;

  .section3-container {
    width: 80%;
    margin: 0 auto;
    @include center;
    height: 600px;

    .section3-left {
      background: black;
      color: $white;
      height: 100%;
      width: 25%;
      outline: $grey 1px dashed;
      outline-offset: -30px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
        padding: 35px;

        h2,
        h4 {
          color: $orange;
        }

        h2 {
          font-family: $font1;
          font-size: 3rem;
          font-weight: 400;
          line-height: 20px;
          padding-top: 40px;
        }

        h4 {
          font-family: $font2;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 3rem;
        }

        h3,
        h5 {
          color: $white;
        }

        h3 {
          text-transform: uppercase;
          font-family: $font2;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0.2rem;
        }

        h5 {
          font-family: $font3;
          font-weight: 400;
          font-size: 1rem;
          line-height: 2rem;
        }

        img {
          padding: 40px 0;
        }
      }
    }

    .section3-right {
      background: $white;
      color: $black;
      height: 100%;
      width: 55%;
      display: flex;
      flex-direction: column;
      text-align: center;

      div {
        h2 {
          color: $orange;
          font-family: $font1;
          font-size: 3rem;
          font-weight: 400;
          line-height: 20px;
          padding-top: 100px;
        }
        h3 {
          font-family: $font2;
          text-transform: uppercase;
          font-size: 2rem;
        }

        img {
          padding: 40px 0;
        }
      }

      form {
        margin: 0 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "number date time"
          "name phone mail"
          ". btn .";

        input:nth-child(n):not(:last-child) {
          border: none;
          border-bottom: 1px solid $grey;
          background: $white;
          padding-left: 5px;
          height: 50px;

          &:focus {
            outline: 1px solid $grey;
            border-radius: 8px;
          }
        }

        #button {
          grid-area: btn;
          border: 1px solid $black2;
          border-radius: 40px;
          padding: 15px 40px;
          font-family: $font2;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 600;
          background: $black2;
          color: $white;
          letter-spacing: 0.3rem;
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
