.section1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  background: $white;

  .section1-left {
    @include center;
    width: 50%;
    outline: 1px dashed $orange;
    outline-offset: -15px;
    text-align: center;

    @media screen and (max-width: 700px) {
      width: 100%;
    }

    div {
      width: 90%;
      height: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;

      h2 {
        font-family: $font1;
        color: $orange;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: -50px;
      }
      h3 {
        font-family: $font2;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 800;
      }
      img {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      p {
        font-family: $font3;
        text-align: center;
      }
      .avatar {
        background: url(../img/avatar-01.jpg) center/cover;
        height: 70px;
        width: 70px;
        margin: 0 auto;
        border-radius: 150px;
      }
      h4 {
        font-family: $font2;
        font-weight: 100;
        margin-bottom: -30px;
        margin-top: -30px;
      }
      h5 {
        font-family: $font3;
        text-transform: uppercase;
        color: $grey;
        font-size: 0.7rem;
      }
    }
  }

  .section1-right {
    background: url(../img/store-01.jpg) center/cover;
    width: 50%;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}
