.section2 {
  color: $white;
  position: relative;

  // &::after {
  //   position: absolute;
  //   content: url(../img/bg-menu-01.jpg);
  //   top: 300px;
  //   z-index: -1;
  // }

  .section2-header {
    @include center;
    flex-direction: column;
    padding: 60px 0;

    h2 {
      font-family: $font1;
      color: $orange;
      font-size: 2rem;
      font-weight: 400;
    }

    img {
      padding: 30px 0;
    }

    .section2-nav {
      width: 60%;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
          font-family: $font3;
          font-size: 0.9rem;
          border-bottom: solid 1px $white;
          padding-bottom: 10px;
        }
      }
    }
  }
  .section2-after {
    &::after {
      position: absolute;
      content: url(../img/bg-menu-01.jpg);
      top: 400px;
      z-index: -1;
    }
    .section2-container {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4 1fr);
      border-top: 4px solid $orange;
      background: $white;
      padding-bottom: 10px;

      .section2-container-items {
        width: 90%;
        height: 140px;
        color: $black;
        border-bottom: 1px dashed $grey;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 25% 60% 15%;
        align-items: center;
        justify-items: start;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50px;
        }

        .s2ci-item {
          font-family: $font3;

          h3 {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 900;
            line-height: 20px;
          }
        }

        .s2ci-price {
          color: $orange;
          font-family: $font2;
        }
      }
    }
  }
}
