@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
$font1: Allura, cursive;
$font2: Poppins, sans-serif;
$font3: Roboto, sans-serif;
$white: rgb(240, 240, 240);
$orange: rgba(198, 152, 68, 0.904);
$black: rgb(33, 32, 30);
$black2: rgb(20, 20, 20);
$grey: rgb(179, 179, 179);
$grey2: rgb(131, 131, 131);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: $white;
}

body {
  background-color: $black2;
  max-width: 1920px;
  margin: 0 auto;
}
