@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
$font1: Allura, cursive;
$font2: Poppins, sans-serif;
$font3: Roboto, sans-serif;
$white: rgb(240, 240, 240);
$orange: rgb(168, 117, 21);
$black: rgb(40, 40, 40);
$grey: rgb(179, 179, 179);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: $white;
}

body {
  background-color: $black;
}
